<br>
<table class="table table-striped">
	<tr hidden="true">
		<td></td>
		<td>
			<input id="bookid" name="bookid"  value="<%= id %>"> <br>
		</td>
	</tr>
	</tr>
		<td>
			Book Name: 
		</td>
		<td>
			<input id="title" type="text" name="title" value="<%= title %>"> <br>
		</td>
		
	</tr>
	<tr>
		<td>
			Author Name: 
		</td>
		<td> 
			<input  id="author" type="text" name="author" value="<%= author %>" ><br>
		</td>
		
	</tr>
	<tr>
		<td>
			Status:
		</td>
		<td>

			<select id="status" name="status" >
			<%  
			if(status=="Read") {
			%>
				<option value="Read" selected="true">Read</option>
				<option value="Not Read">Not Read</option>
			<%
			} else {
			%>
				<option value="Not Read" selected="true">Not Read</option>
				<option value="Read">Read</option>
			<%
			}
			%>	

				
			</select>

		</td>
	</tr>
	<br><br>
	<tr>
		<td>
			<input type="button" id="save" class="btn btn-navbar" value="Save">
		</td>
		<td>
			<input type="button" id="delete" class="btn btn-navbar" value="Delete">
		</td>
	</tr>
</table>

        
